# Copy this file to .env.local and fill in your Firebase config
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCXeA00EZKDy5yZKxOU8bEcwPe1mC5zRdY
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=amar-churighor.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=amar-churighor
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=amar-churighor.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=577927521567
NEXT_PUBLIC_FIREBASE_APP_ID=1:577927521567:web:c52b0017d305b695707c2a